<script setup lang="ts">
const { locale: currentLocale } = useI18n();
const name = ref("Contributor");

function changeLanguage(newLocale: string) {
  currentLocale.value = newLocale;
}
</script>

<template>
  <div class="h-screen w-screen flex flex-col justify-center items-center">
    <div class="h-auto w-auto min-h-1/4 min-w-1/2 flex flex-col pa-4 justify-center items-center bg-secondary text-dark rounded-xl">
      <div class="flex gap-2">
        <button
          v-for="locale in $i18n.availableLocales"
          :key="locale"
          class="border-2 rounded-md py-2 px-4 uppercase bg-secondary text-dark"
          :class="{ 'border-accent': $i18n.locale === locale }"
          @click="changeLanguage(locale)"
        >
          {{ locale }}
        </button>
      </div>
      <h1>{{ $t("greetings") }}</h1>
      <h2>{{ name }}</h2>
      <div class="i-mdi:hand-wave inline-block color-amber h-12 w-12" />
    </div>
  </div>
</template>
